<body>
  <div class="container">
    <h1 class="my-4">新しい授業を作成</h1>

    <%= form_for @lecture, html: { class: 'form' } do |f| %>
      <div class="form-group">
        <%= f.label :授業名 %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :教員名 %>
        <%= f.text_field :teacher, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :year, '学年' %>
        <%= f.select :year, options_for_select(1..4), {}, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :学部 %>
        <%= f.select :faculty, [['情報学部', '情報学部'], ['工学部', '工学部']], {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :学科 %>
        <%= f.select :course, [['情報科学', '情報科学'], ['行動情報', '行動情報'],['情報社会', '情報社会'],['機械工学科', '機械工学科'],['電気電子工学科', '電気電子工学科'],
        ['電子物質科学科', '電子物質科学科'],['化学バイオ工学科', '化学バイオ工学科'],['数理システム工学科', '数理システム工学科']], {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :前期、後期 %>
        <%= f.select :semester, [['前期', '前期'], ['後期', '後期']], {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :曜日 %>
        <%= f.select :day, [['月', '月'], ['火', '火'],['水', '水'],['木', '木'],['金', '金']], {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :コマ %>
        <%= f.text_field :time, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :教室 %>
        <%= f.text_field :classroom, class: "form-control" %>
      </div>

      <%= f.submit "授業を作成", class: "btn btn-primary" %>
    <% end %>

    <%= link_to '一覧に戻る', lectures_path, class: 'btn btn-secondary mt-4' %>
  </div>

  <!-- Bootstrap JavaScriptを読み込む -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
